
body{
    background-color: grey;
}

#check{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* margin-top: 30px; */
}
#check>div{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding:7px 10px;
    background-color: blueviolet;
    color: white;
}
#check>div>img{
    width: 100px;
}
#cart{
    color: white;
    text-decoration: underline;
    margin: 0px 0px 20px 0px;
    background-color: rgb(53, 53, 165);
    padding:10px 0px;
}
#total{
    width: 60%;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
     color: white;
    margin-top: 40px;
    padding: 10px 0px;
}
#total>h2{
margin-left: 20px;
margin-right: 20px;
}
#total>button{
    color:white;
    background-color: red;
    font-weight: bolder;
    border: red;
    cursor: pointer;
    border-radius: 4px;
}